<tui-combo-box
  [(ngModel)]="currency"
  (ngModelChange)="onCurrencyChange($event)"
  [valueContent]="currencyContent"
  [tuiTextfieldCleaner]="true"
  [tuiTextfieldLabelOutside]="true"
>
  Choose a currency
  <input tuiTextfield />
  <tui-data-list-wrapper
    *tuiDataList
    [itemContent]="currencyContent"
    [items]="items() | tuiFilterByInput"
  ></tui-data-list-wrapper>
</tui-combo-box>

<ng-template #currencyContent let-item>
  <div class="select-container">
    <img [src]="getUrl(item.isoCode)" [alt]="item.name" />
    <span class="currency-iso-code">{{ item.isoCode || "" }}</span>
    <span class="currency-name">{{ item.name || "" }}</span>
  </div>
</ng-template>
