.container {
  max-width: 1200px;

  margin: 0 auto;
  padding: 10px;

  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, 1fr);

  gap: 10px;

  @media screen and (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
  }
}

.currency-container {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
