<converter-select
  [currency]="currencyFrom"
  (currencyChange)="onCurrencyChange($event, 'from')"
></converter-select>
<converter-select
  [currency]="currencyTo"
  (currencyChange)="onCurrencyChange($event, 'to')"
></converter-select>

<converter-input
  [amount]="amountFromValue"
  [disabled]="!currencyFrom"
  (amountChange)="onAmountChange($event, 'from')"
></converter-input>
<converter-input
  [amount]="amountToValue"
  [disabled]="!currencyTo"
  (amountChange)="onAmountChange($event, 'to')"
></converter-input>

<converter-date
  [date]="date"
  (dateChange)="onDateChange($event)"
></converter-date>
